* {
    font-family: Helvetica;
}

footer {
    display: flex;
    background-color: lightskyblue;
    border-radius: 1%;
    opacity: 0.6;
    font-size: 32px;
    height: 100px;
    justify-content: center;
}