* {
    font-family: Helvetica;
}

#container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    background-color: #D4F6F9;
    border-radius: 1%;
    opacity: 0.7;
    font-size: 64px;
    justify-content: center;
}

#selectsize {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightskyblue;
    border-radius: 1%;
    opacity: 0.6;
    padding: 10px;
}

.selectButton {
    background-color: skyblue;
    border: 1px solid lavender;
    margin: 8px;
    transition-duration: 0.4s;
}

.selectButton:hover {
    background-color: white;
}

#body {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    flex-direction: column;
    opacity: 0.6;
    align-items: center;
    padding: 12px;
}

.gridElement {
    background: white;
    transition-duration: .5s;
}

.gridElement:hover {
    background-color: purple;
}


#footer {
    display: flex;
    background-color: #D4F6F9;
    border-radius: 1%;
    font-size: 32px;
    justify-content: center;
    opacity: 0.7;
}